In [5]:
from sdv.demo import load_tabular_demo
from sdv.tabular import GaussianCopula

import warnings
warnings.filterwarnings('ignore')

real_data = load_tabular_demo('student_placements')
model = GaussianCopula()
model.fit(real_data)
synthetic_data = model.sample()

In [6]:
real_data.head(2)

   student_id gender  second_perc  ...  start_date   end_date  duration
0       17264      M        67.00  ...  2020-07-23 2020-10-12       3.0
1       17265      M        79.33  ...  2020-01-11 2020-04-09       3.0

[2 rows x 17 columns]

In [7]:
synthetic_data.head(2)

   student_id gender  second_perc  ...  start_date   end_date  duration
0       17293      F        79.91  ...  2020-01-03 2020-06-27       7.0
1       17299      F        70.92  ...  2020-04-05 2020-12-09       7.0

[2 rows x 17 columns]

## Overall Score

In [10]:
from sdv.evaluation import evaluate
evaluate(synthetic_data, real_data)

0.6115880032828156

In [12]:
evaluate(synthetic_data, real_data, metrics = ['CSTest','KSTest'])

0.8921899749168275