In [1]:
from sdv.demo import load_tabular_demo
from sdv.tabular import GaussianCopula

import warnings
warnings.filterwarnings('ignore')

real_data = load_tabular_demo('student_placements')
model = GaussianCopula()
model.fit(real_data)
synthetic_data = model.sample()

In [2]:
real_data.head(2)

,student_id,gender,second_perc,high_perc,high_spec,degree_perc,degree_type,work_experience,experience_years,employability_perc,mba_spec,mba_perc,salary,placed,start_date,end_date,duration
0,17264,M,67.00,91.00,Commerce,58.00,Sci&Tech,False,0,55.0,Mkt&HR,58.80,27000.0,True,2020-07-23,2020-10-12,3.0
1,17265,M,79.33,78.33,Science,77.48,Sci&Tech,True,1,86.5,Mkt&Fin,66.28,20000.0,True,2020-01-11,2020-04-09,3.0

In [3]:
synthetic_data.head(2)

,student_id,gender,second_perc,high_perc,high_spec,degree_perc,degree_type,work_experience,experience_years,employability_perc,mba_spec,mba_perc,salary,placed,start_date,end_date,duration
0,17448,M,73.27,65.18,Commerce,63.59,Comm&Mgmt,False,1,78.48,Mkt&Fin,59.57,25200.0,True,2020-03-16,2020-10-16,5.0
1,17281,M,68.30,73.27,Commerce,70.97,Comm&Mgmt,False,0,74.07,Mkt&Fin,58.83,24000.0,True,2020-03-02,2020-07-16,3.0

## Overall Score

In [4]:
from sdv.evaluation import evaluate
evaluate(synthetic_data, real_data)

0.5992301152029204

In [5]:
evaluate(synthetic_data, real_data, metrics = ['CSTest','KSTest'])

0.8853812099389685

## Time Series Metrics

In [6]:
from sdv.metrics.demos import load_timeseries_demo
real_data, synthetic_data, metadata = load_timeseries_demo()

In [7]:
real_data.head(2)

        date  store_id    region  day_of_week  total_sales  nb_customers
0 2020-06-01     68608  New York            0       736.19            43
1 2020-06-02     68608  New York            1       777.31            45

In [9]:
synthetic_data.head(2)

        date  store_id    region  day_of_week  total_sales  nb_customers
0 2020-06-01         0  New York            0   762.349155            43
1 2020-06-02         0  New York            1   809.673681            42

In [10]:
metadata

{'fields': {'region': {'type': 'categorical'},
  'store_id': {'type': 'numerical', 'subtype': 'integer'},
  'nb_customers': {'type': 'numerical', 'subtype': 'integer'},
  'total_sales': {'type': 'numerical', 'subtype': 'float'},
  'date': {'type': 'datetime'},
  'day_of_week': {'type': 'numerical', 'subtype': 'integer'}},
 'entity_columns': ['store_id'],
 'sequence_index': 'date',
 'context_columns': ['region']}

### Time Series Metrics: Detection Metrics

In [11]:
from sdv.metrics.timeseries import LSTMDetection, TSFCDetection

In [12]:
# use LSTM classifier to perform detection
LSTMDetection.compute(real_data, synthetic_data, metadata)

0.5

In [13]:
# use TimeSeriesForestClassifier using sktime
TSFCDetection.compute(real_data, synthetic_data, metadata)

0.07999999999999996

### Time Series Metrics: Machine Learning Efficacy Metrics

In [14]:
from sdv.metrics.timeseries import TSFClassifierEfficacy
TSFClassifierEfficacy.compute(real_data, synthetic_data, metadata, target = 'region')

1.0