# Generating Timeseries Synthetic Data using PAR model

From SDV online manual

In [ ]:
from sdv.demo import load_timeseries_demo

In [3]:
data = load_timeseries_demo()
data.head()

  Symbol       Date  ...      Sector                Industry
0   AAPL 2018-12-31  ...  Technology  Computer Manufacturing
1   AAPL 2019-01-02  ...  Technology  Computer Manufacturing
2   AAPL 2019-01-03  ...  Technology  Computer Manufacturing
3   AAPL 2019-01-04  ...  Technology  Computer Manufacturing
4   AAPL 2019-01-07  ...  Technology  Computer Manufacturing

[5 rows x 8 columns]

In [6]:
data.shape

(25784, 8)

In [ ]:
from sdv.timeseries import PAR


entity_columns = ['Symbol']
context_columns = ['MarketCap', 'Sector', 'Industry']
sequence_index = 'Date'
model = PAR(
    entity_columns=entity_columns,
    context_columns=context_columns,
    sequence_index=sequence_index,
)
model.fit(data)

In [ ]:
# generate a single sequence
new_data = model.sample(1)