# Generating Timeseries Synthetic Data using PAR model

From SDV online manual

In [9]:
from sdv.demo import load_timeseries_demo
from sdv.timeseries import PAR

In [10]:
data = load_timeseries_demo()
data.head()

  Symbol       Date  ...      Sector                Industry
0   AAPL 2018-12-31  ...  Technology  Computer Manufacturing
1   AAPL 2019-01-02  ...  Technology  Computer Manufacturing
2   AAPL 2019-01-03  ...  Technology  Computer Manufacturing
3   AAPL 2019-01-04  ...  Technology  Computer Manufacturing
4   AAPL 2019-01-07  ...  Technology  Computer Manufacturing

[5 rows x 8 columns]

In [11]:
data.shape

(25784, 8)

In [21]:
# learn model
# entity: the column that says, this is a single entity
entity_columns = ['Symbol']
# context: the columns that say, for a single entity, these should be fixed
context_columns = ['MarketCap', 'Sector', 'Industry']
# sequence index: the column that denotes the timeseries-ness
sequence_index = 'Date'
# field_types: to tell the format of output expected for a column
field_types = {
    'Symbol': {
        'type': 'id',
        'subtype' : 'string',
        'regex': '[A-Z]{3,4}'
    }
}

model = PAR(
    entity_columns = entity_columns,
    context_columns = context_columns,
    sequence_index = sequence_index,
    field_types = field_types,
)
model.fit(data)

/Users/mamduhzabidi/opt/anaconda3/envs/ML_2022/lib/python3.7/site-packages/scipy/stats/_continuous_distns.py:639: RuntimeWarning: invalid value encountered in sqrt
  sk = 2*(b-a)*np.sqrt(a + b + 1) / (a + b + 2) / np.sqrt(a*b)
/Users/mamduhzabidi/opt/anaconda3/envs/ML_2022/lib/python3.7/site-packages/scipy/optimize/minpack.py:175: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last ten iterations.
  warnings.warn(msg, RuntimeWarning)
/Users/mamduhzabidi/opt/anaconda3/envs/ML_2022/lib/python3.7/site-packages/scipy/stats/_continuous_distns.py:5320: RuntimeWarning: divide by zero encountered in true_divide
  return c**2 / (c**2 - n**2)
/Users/mamduhzabidi/opt/anaconda3/envs/ML_2022/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:2606: RuntimeWarning: invalid value encountered in double_scalars
  Lhat = muhat - Shat*mu
/Users/mamduhzabidi/opt/anaconda3/envs/ML_2022/lib/python3.7/site-packages/scipy/optimize/minpack.py:175: RuntimeWarning: The number of calls to function has reached maxfev = 600.
  warnings.warn(msg, RuntimeWarning)
/Users/mamduhzabidi/opt/anaconda3/envs/ML_2022/lib/python3.7/site-packages/scipy/optimize/optimize.py:283: RuntimeWarning: Values in x were outside bounds during a minimize step, clipping to bounds
  "minimize step, clipping to bounds", RuntimeWarning)

In [22]:
# save model
model.save('PARtestmodel.pkl')

In [23]:
# reload model
l_model = PAR.load('PARtestmodel.pkl')

In [24]:
# generate synthetitic data using the loaded model
l_model.sample(num_sequences=1).head()

  Symbol       Date        Open  ...     MarketCap          Sector   Industry
0    AAA 2019-01-02  334.415741  ...  3.055243e+10  Transportation  Railroads
1    AAA 2019-01-02  142.144138  ...  3.055243e+10  Transportation  Railroads
2    AAA 2019-01-04  169.480163  ...  3.055243e+10  Transportation  Railroads
3    AAA 2019-01-03  163.797658  ...  3.055243e+10  Transportation  Railroads
4    AAA 2019-01-07  171.288554  ...  3.055243e+10  Transportation  Railroads

[5 rows x 8 columns]

In [25]:
# fix the generated synthetic data
import pandas as pd
context = pd.DataFrame([
{
    'Symbol': 'FRONTKEN',
    'MarketCap': 4e6,
    'Sector': 'Technology',
    'Industry': 'Electronic Components'
},
{
    'Symbol': 'HARTALEGA',
    'MarketCap': 12e6,
    'Sector': 'Health Care',
    'Industry': 'Medical/Nursing Services'
},
])
context

      Symbol   MarketCap       Sector                  Industry
0   FRONTKEN   4000000.0   Technology     Electronic Components
1  HARTALEGA  12000000.0  Health Care  Medical/Nursing Services

In [26]:
# use the context for sampling
new_data = model.sample(context=context)
new_data

        Symbol       Date  ...       Sector                  Industry
0     FRONTKEN 2018-12-27  ...   Technology     Electronic Components
1     FRONTKEN 2019-01-01  ...   Technology     Electronic Components
2     FRONTKEN 2019-01-03  ...   Technology     Electronic Components
3     FRONTKEN 2019-01-05  ...   Technology     Electronic Components
4     FRONTKEN 2019-01-06  ...   Technology     Electronic Components
..         ...        ...  ...          ...                       ...
371  HARTALEGA 2019-08-24  ...  Health Care  Medical/Nursing Services
372  HARTALEGA 2019-08-22  ...  Health Care  Medical/Nursing Services
373  HARTALEGA 2019-08-25  ...  Health Care  Medical/Nursing Services
374  HARTALEGA 2019-08-27  ...  Health Care  Medical/Nursing Services
375  HARTALEGA 2019-08-28  ...  Health Care  Medical/Nursing Services

[376 rows x 8 columns]